(
echo .vs/
echo **/.vs/
echo bin/
echo **/bin/
echo obj/
echo **/obj/
echo x64/
echo **/x64/
echo x86/
echo **/x86/
echo Debug/
echo **/Debug/
echo Release/
echo **/Release/
echo build/
echo **/build/
echo out/
echo **/out/
echo External/
echo *.user
echo *.suo
echo *.VC.db
echo *.VC.opendb
echo *.opendb
echo *.ipch
echo *.vsidx
echo *.pdb
echo *.ilk
echo *.exe
) > .gitignore