.vs/
**/.vs/
Build/
**/Build/
bin/
**/bin/
obj/
**/obj/
x64/
**/x64/
x86/
**/x86/
Debug/
**/Debug/
Release/
**/Release/
build/
**/build/
out/
**/out/
External/
*.user
*.suo
*.VC.db
*.VC.opendb
*.opendb
*.ipch
*.vsidx
*.pdb
*.ilk
*.exe
